<nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #051622; border-bottom: 2px solid #deb992;">
    <a class="navbar-brand" href="/"><b>Project Tracker</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link disabled" href="#">History</a>
        </li>
      </ul>
    </div>
</nav>